// BASE

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  background-color: $body-color;
  color: $first-color;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $first-color;
}

img {
  max-width: 100%;
  height: auto;
}
