@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    @media (min-width: 768px) {
      // @content: include edilen yerdeki değişiklikleri buraya ekle
      @content;
    }
  } @else if ($width == "dektop") {
    @media (min-width: 992px) {
      @content;
      // @content: include edilen yerdeki değişiklikleri buraya ekle
    }
  }
}

// $jc: justify-content
// $ai: align-items
// $direction: flex-direction
@mixin flex($jc: center, $ai: center, $direction: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
}