/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*=============== Varibles sass ===============*/
/********** Font weight **********/
/********** Colors **********/
/********** Z-index **********/
/********** Variables CSS **********/
/********** Fonts **********/
*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f6;
  color: #1d1d1f;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #1d1d1f;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: 3rem;
  background: #f4f4f6;
  box-shadow: 0 0 4px #1d1d1f33;
  z-index: 999;
  position: sticky;
  top: -1px;
}

.header .nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header .nav .logo {
  font-weight: 700;
}

.header .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header .nav-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: -6rem;
  margin-top: -6px;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .header .nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0px;
  }
}

.header .nav-menu-list a {
  padding: 10px;
}

@media (min-width: 768px) {
  .header .nav-menu-list a {
    padding: 0;
    margin-right: 8px;
  }
}

.header .nav-menu-list a:hover {
  color: #0071e3;
}

.header .nav .btn-nav {
  background: #1d1d1f;
  color: #fff;
  border-radius: 360px;
  padding: 6px 12px;
}

.header .nav .btn-nav:hover {
  background: #353538;
}

.header .nav .btn-mobile-menu {
  margin-right: 15px;
  display: block;
}

@media (min-width: 768px) {
  .header .nav .btn-mobile-menu {
    display: none;
  }
}

.show-menu {
  top: 3rem !important;
}

.sub-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.sub-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.sub-menu-item img {
  max-width: 100%;
}

.content {
  margin-top: 15px;
  padding: 50px 20px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .content {
    padding: 110px 110px 20px 110px;
  }
}

.content .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.content .description-text {
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .content .description-text {
    margin-right: 35px;
    text-align: left;
    margin-bottom: 0;
  }
}

.content .description-text h1 {
  font-weight: 400;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .content .description-text h1 {
    font-size: 3.6rem;
  }
}

.content .description-text p {
  text-align: center;
}

@media (min-width: 768px) {
  .content .description-text p {
    width: 246px;
    text-align: left;
  }
}

.content .description-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content .description-image img {
  width: 100px;
  height: auto;
  position: relative;
}

.content .description-image img:first-child {
  animation: floating1 4s infinite;
}

.content .description-image img:last-child {
  animation: floating2 4s infinite;
}

.content-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.content-scroll span {
  margin-bottom: 10px;
}

.features {
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.features-text {
  text-align: center;
  margin-right: 15px;
}

.features-text-box {
  margin-bottom: 25px;
}

.features-text-box:last-child {
  margin-bottom: 0;
}

.features-text-box h2 {
  font-size: 3rem;
}

.features-text-box p {
  width: 150px;
}

.features-image img {
  width: 250px;
  animation: heartbeat 1s infinite;
}

@keyframes floating1 {
  0% {
    top: -20px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: -20px;
  }
}

@keyframes floating2 {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: -20px;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.footer {
  width: 100%;
  box-shadow: 0 -2px 4px #1d1d1f33;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.footer-content p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-content .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-content .social-media a {
  font-size: 18px;
  margin-right: 5px;
}

.footer-content .social-media a:last-child {
  margin-top: 0;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.h-100 {
  height: 100%;
}

.rotate-90 {
  transform: rotate(90deg);
}

.active {
  color: #0071e3;
}
